<h2>All Heroines</h2>

<p><%= link_to "Create New Heroine", new_heroine_path %></p>


<%= form_tag("/search", method: "post") do %>
  <%= label_tag(:q, "Search by super power:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.name, heroine %>
    </li>
    <br>
  <% end %>
</ul>
