<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ol>
      <li>  <%= link_to "Heroines Index", heroines_path %></li>
      <li>  <%= link_to "Powers Index", powers_path %></li>
      <li><%= link_to "Create Heroine", new_heroine_path %> </li>
    </ol>

    <%= yield %>
  </body>
</html>
